
<div class="flex flex-col w-full justify-center lg:items-start overflow-y-hidden">
    <!-- picked songs -->
    <div class="bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4">
        <div *ngFor="let song of pickedSongs">
            {{song.name}} - {{song.artists[0].name}}
            
        </div>
    </div>

    <!-- songs search -->
    <form class="bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4">
        <div class="w-full mb-4">
            <label class="block text-blue-300 py-2 font-bold mb-2" for="songSearch">
                Search for songs
            </label>
            <app-search (songPicked)="songPicked($event)"></app-search>
        </div>
    </form>
</div>

