<ng-container *ngIf="song">
   
        <div class="flex-shrink-0">
            <img *ngIf="song.album.images[2]" class="h-12 w-12" [src]="song.album.images[2].url" alt="album image">
            <img *ngIf="!song.album.images[2]" class="h-12 w-12" [src]="'https://via.placeholder.com/150'" alt="album image">
        </div>
        <div class="ml-4">
            <h3 class="text-sm font-semibold text-gray-200">{{song.name}}</h3>
            <span class="text-sm text-gray-400">{{song.artists[0].name}}</span>
            <span class="text-sm text-gray-400" *ngFor="let artist of song.artists.slice(1)">, {{artist.name}}</span>
        </div>

        
        <!-- buttons -->

        <div *ngIf="showRemoveButton" class="align-middle ml-auto">
            <button class="align-middle hover:text-red-600"
            (click)="removeButtonClick(song)"
            >Remove</button>
        </div>

        <div class="align-middle ml-auto mx-6" *ngIf="showPreviewSpinner">
            <mat-spinner 
                [mode]="'determinate'" 
                [value]="previewTime"
                [diameter]="40"></mat-spinner>
        </div>


        <div *ngIf="showPlaybackButton" class=" align-middle flex ml-auto h-14">
            <button *ngIf="!showPreviewSpinner" 
                    class="align-middle flex items-center justify-center hover:text-pink-500"
                    (click)="playbackButtonClicked(song)"
                >
                <mat-icon class="mx-2" fontIcon="play_circle"></mat-icon>Hear
            </button>
            <button *ngIf="showPreviewSpinner" 
                    class="align-middle flex items-center justify-center hover:text-pink-500"
                    (click)="stopPlaybackButtonClicked(song)"
                >
                <mat-icon class="mx-2" fontIcon="stop_circle"></mat-icon>Stop
            </button>
        </div>
    
</ng-container>
