<ng-container *ngIf="song">
    <div class="py-2 truncate felx self-center inline items-center">
        <div class="inline-block">
            <img class="inline mr-4" [src]="song.album.images[2].url" alt="album image">
        </div>
        <div class="inline-block align-middle">
            <span class="font-semibold">{{song.name}}</span>
            <br/>
            <span>{{song.artists[0].name}}</span>
            <span *ngFor="let artist of song.artists.slice(1)">, {{artist.name}}</span>
        </div>
        
    </div>
</ng-container>
