<ng-container class="w-full flex" *ngIf="song">
    <div class="py-2 truncate felx flex-row self-center items-center w-full">
        <div class="inline-block">
            <img class="inline mr-4" [src]="song.album.images[2].url" alt="album image">
        </div>
        <div class="inline-block align-middle text-gray-100">
            <span class="font-semibold">{{song.name}}</span>
            <br/>
            <span>{{song.artists[0].name}}</span>
            <span *ngFor="let artist of song.artists.slice(1)">, {{artist.name}}</span>
        </div>
        <div *ngIf="showRemoveButton" class="inline-block align-middle float-right">
            <button class="align-middle hover:text-red-600"
            (click)="removeButtonClick(song)"
            >Remove</button>
        </div>

        <div class="inline-block align-middle float-right mx-6" *ngIf="showPreviewSpinner">
            <mat-spinner 
                [mode]="'determinate'" 
                [value]="previewTime"
                [diameter]="40"></mat-spinner>
        </div>


        <div *ngIf="showPlaybackButton" class="inline-block align-middle float-right">
            <button *ngIf="!showPreviewSpinner" class="align-middle hover:text-red-600"
            (click)="playbackButtonClicked(song)"
            >Hear</button>
            <button *ngIf="showPreviewSpinner" class="align-middle hover:text-red-600"
            (click)="stopPlaybackButtonClicked(song)"
            >Stop</button>
        </div>
    </div>
</ng-container>
